/**
    Knowhere
*/
body,p,h1,h2,h3,h4,h5,h6,ul,ol,dl,li,dt,dd{
    /* 清除边距 */
    margin: 0;
    padding: 0;
    /* 字体设置 */
    font-size: 18px;
    font-family: 'Roboto', Helvetica, "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
    color: #505050;
}

/*行内元素*/
a,a:active,a:visited{
    /*下划线和颜色*/
    text-decoration: none;
    /* Coca-Cola red*/
    /* https://www.w3schools.com/colors/colors_brands.asp */
    color: #ED1C16;
}

a:hover{
    color:#268bd2;
}

h1{ font-size: 2em; margin: .67em 0 }
h2{ font-size: 1.5em; margin: .75em 0 }
h3{ font-size: 1.17em; margin: .83em 0 }
h5{ font-size: .83em; margin: 1.5em 0 }
h6{ font-size: .75em; margin: 1.67em 0 }
h1,h2,h3,h4,h5,h6{ font-weight: bolder }


/* header */

.header {
  padding: 25px 0;
  position: relative;
  /* 屏蔽header阴影 */
  /*background: #f5f5f5;
  border-bottom: 1px solid #eaeaea;*/
}

.nav {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
  text-align: right;
}

.nav-avatar {
  float: left;
  margin-top: -11px;
  transition: transform 100ms ease-in-out;
}

.nav-avatar:hover {
  transform: scale(1.1);
}

.avatar {
  display: block;
  max-height: 50px;
  margin-top: -3px;
  width: auto;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
  flex-shrink: 0;
  margin-right: 10px;
  -webkit-user-select: none;
  user-select: none;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  transition: transform 600ms ease-in-out;
}
.avatar:hover {
  transform: rotate(360deg);
}

.nav-links {
  margin: 0;
  padding: 0;
  font-size: 18px;
  list-style: none;
}

.nav-links li {
  display: inline-block;
  margin: 0 0 0 30px;
}

.nav-links li:first-child {
  margin-left: 0;
}

.nav-links a {
  text-decoration: none;
  color: #111;
}

.nav-links a:hover {
  color: #000;
}

/* Contents */
.container[role=main] {
  max-width: 800px;
  padding: 0 15px;
  font-size: 18px;
  line-height: 1.8;
  color: #333333;
}

.archives {
  margin: 20px auto;
}

.archives td {
  border: none;
  text-align: left;
}

.article {
  text-align: justify;
}

.post-preview {
  padding-bottom: 35px;
  border-bottom: 1px solid #eeeeee;
}

.post-preview a {
  /*text-decoration: none;
  color: #222222;*/
}

.post-preview:last-child {
  border-bottom: 0;
}

.postmeta {
  margin: 10px 0;
}

.post-entry {
  width: 100%;
  margin-top: 10px;
}

/* readmore */
.post-read-more {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 800;
  float: right;
  position: relative;
  display: block;
  text-decoration: none;
}

a.post-read-more::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #333;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform .3s;
}

a.post-read-more:hover::after {
  transform: scale(1, 1);
}


/* pagination */
.pager {
  list-style: none;
  text-align: center;
  margin:20px 0 0;
  padding-left: 0;
}

.pager ul {
  display: block;
}

.pager li {
  display: inline;
}

.pager li a {
  box-sizing: border-box;
  font-family: 'Roboto', Helvetica, sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 10px 5px;
  background: #ffffff;
  border-radius: 0;
  border: 1px solid #dddddd;
  display: inline-block;
  color: #404040;
  text-decoration: none;
}

.pager a:hover:not(.active) {
  background-color: #dddddd;
}

.pager .previous > a {
  float: left;
  display: block;
}

.pager .next > a {
  float: right;
  display: block;
}


/* 代码块元素 */
blockquote {
  color: #808080;
  padding: 0 10px;
  border-left: 4px solid #aaaaaa;
}

blockquote p:first-child {
  margin-top: 0;
}

table {
  padding: 0;
  border-spacing: 0;
}

table tr {
  border-top: 1px solid #dddddd;
  margin: 0;
  padding: 0;
}

table tr th {
  font-weight: bold;
  background-color: #eeeeee;
  border: 1px solid #dddddd;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}

table tr td {
  border: 1px solid #dddddd;
  background-color: #ffffff;
  text-align: left;
  margin: 0;
  padding: 6px 12px;
}

table tr th :first-child,
table tr td :first-child {
  margin-top: 0;
}

table tr th :last-child,
table tr td :last-child {
  margin-bottom: 0;
}

.chroma .ln {
  margin-right: 0.8em;
  padding: 0 0.4em 0 0.4em;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 16px;
    line-height: 1.5 /* 1.42857143 */;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 3px solid #cccccc;
    border-radius: 5px;
}

pre code {
    padding: 0;
    font-family: Menlo, Monaco, Consolas, monospace;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0;
}

code {
    padding: 2px 4px;
    font-size: 100%;
    color: #dd0011;
    background-color: #f9f9f9;
    border-radius: 4px;
}

footer {
  padding: 60px 0;
  text-align: center;
  margin-top: auto;
  font-size: 16px;
  font-family: 'Roboto', Helvetica, sans-serif;
}

@media (min-width: 600px) {
  .container[role=main] {
    font-size: 18px;
    line-height: 1.8;
    margin: 80px auto;
  }

  .pager li a {
    padding: 10px 25px;
  }

  .pager.blog-pager  {
    margin-top: 40px;
  }
}