{{ define "main" }}
<div class="container" role="main">
    <article class="article" class="blog-post">
      <h1 class="post-title">{{ .Title }}</h1>
      {{ if eq .Section "posts" }}
        {{ partial "post-meta.html" . }}
      {{ end }}

      <div class="content">
        {{ .Content }}
      </div>
      
      <div>
        {{ partial "post-ext.html" . }}
      </div>
    

      <div>
        {{ partial "paginationPost.html" . }}
      </div>
      <!-- 暂时没找到好解决办法先用br 下压评论框 -->
      <br /><br />
      
        {{ partial "comments.html" . }}
      
    </article>
</div>
{{ end }}
