{{ define "main" }}
<div class="container" role="main">
    <article class="article" class="blog-post">
      <h1 class="post-title">{{ .Title }}</h1>
      {{ if eq .Section "posts" }}
        <div class="postmeta">Posted by <a href="{{if .Params.author_url }}{{ .Params.author_url }}{{ else }}{{ .Site.Params.author.url }}{{ end }}">{{if .Params.author }}{{ .Params.author }}{{ else }}{{ .Site.Params.author.name }}{{ end }}</a> @ {{ .Date.Format "2006-01-06" }} | <a href="https://github.com/1nfsr/content/tree/post-hosting/{{.File}}">source</a></div>
      {{ end }}

      <div class="content">
        {{ .Content }}
      </div>

      {{ if .Params.tags }}
        <div class="blog-tags">
      <h2>tags</h2>
          {{ range .Params.tags }}
            <li><a href="{{ $.Site.BaseURL }}/tags/{{ . | urlize }}/">{{ . }}</a>&nbsp;</li>
          {{ end }}
        </div>
      {{ end }}

      <div>
        {{ partial "paginationPost.html" . }}
      </div>
      <!-- 暂时没找到好解决办法先用br 下压评论框 -->
      <br /><br />
      <div class="comment">
        {{ partial "comments.html" }}
      </div>
    </article>
</div>
{{ end }}
