<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
  {{ if .Title }}
    {{ .Title }}
  {{ end }}
    - 
  {{ if isset .Site.Params "slogan" }}
    {{ .Site.Params.slogan }}
  {{ else }}
    {{ .Site.Title }}
  {{ end }}
  </title>
  <meta name="description" content="{{ .Site.Params.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="{{ .Site.Params.author }}">
  <meta name="keywords" content="{{ .Site.Params.keywords }}">
  <link rel="canonical" href="{{ .Permalink }}">
  <link rel="stylesheet" type="text/css" href='{{ .Site.BaseURL }}/css/combined-min.css'>
</head>
<body class="">
