<aside class="aside col-12 col-lg-4 col-xl-3 px-lg-4 pb-lg-4">            
    <section class="education-section py-3">
        <h3 class="text-uppercase section-heading mb-4">Recent</h3>
            <ul class="list-unstyled  resume-education-list">
                <li class="mb-3">
                    <div class="degree font-weight-bold">test1</div>
                    <div class="degree-org text-muted">test2</div>
                    <div class="degree-time text-muted">date</div>
                </li>
            </ul>
    </section>

    <section class="skills-section py-3">
        <h3 class="text-uppercase section-heading mb-4">Links</h3>
            <ul class="list-unstyled interests-list mb-0">
                <li class="mb-2">Github</li>
                <li class="mb-2">Twitter</li>
                <li class="mb-2">Instagram</li>
            </ul>
    </section>
</aside>